{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
    <h1>WD Places</h1>
    {% leaflet_map "main" callback="window.main_map_init" %}

    <h2>list</h2>
    <ul>
      {% for object in object_list %}<li>
        <a href="{{ object.wd_url }}">{{ object }}</a>: {{ object.point }}</a>
      </li>{% endfor %}
    </ul>

    <script type="text/javascript">
        function main_map_init (map, options) {
            {% for object in object_list %}
                L.marker([{{ object.point.0 }}, {{ object.point.1 }}]).addTo(map);
                 // .bindPopup('<a href="{{ object.wd_url }}">{{ object }}</a>');
            {% endfor %}
        }
    </script>

  </body>
</html>
